# MONGO_URL=mongodb://localhost:27017/SSI
MONGO_ONLINE_URL='your online mongodb url here'
FRONTEND_URL='your frontend url here'
PORT=5000
EMAIL_USER='your email user here'  #for nodemailer setup 
EMAIL_PASS='your email password here' 

TOKEN_KEY=your token Key here

# Googel Auth K liye...
GOOGLE_CLIENT_ID= your googl client id here
GOOGLE_CLIENT_SECRET= your client secret here
GOOGLE_CALLBACK_URL= your google callback url here

# claudinary configs
CLOUDINARY_CLOUD_NAME=your cloudinary cloud name here
CLOUDINARY_API_KEY= your cloudinary api key here
CLOUDINARY_API_SECRET= your cloudinary api secret here
   
